@{
    ViewData["Title"] = "Demo ViewBag - ViewData - TempData";
}

<h2>@ViewData["Title"]</h2>

<p><b>ViewBag:</b> @ViewBag.Message</p>
<p><b>ViewData:</b> @ViewData["Note"]</p>
<p><b>TempData:</b> @TempData["Alert"]</p>
